/*RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.container{
    padding-left:200px;
    padding-right:200px ;
}
header {
    margin-top: 15px;
    margin-bottom:20px ;
    text-align: center;
  }
  h1{
    color: rgb(216, 113, 130);
    margin-bottom:30px ;
  }
  main{
    margin-top:50px ;
  }
 
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
}
img{
    width: 100px;
    float: left;
    vertical-align: middle;
}
p{
    margin:2px ;
}

section{
    width: 29%;
    float: left;
    margin-left:2% ;
    margin-right:2% ;
    
}

.box{
    margin-bottom:10% ;
    background-color: darkblue;
    color: white;
}
.testo{
    
    padding:15px ;
    display: inline-block;
}
.float-left{
float: left;
}